<div class="center-align" ng-show="accounts.length == 0">
    You have no accounts, go to <b>#WALLET</b> to setup
</div>
<ul class="collection" ng-show="accounts.length > 0">
    <li ng-repeat="account in accounts" class="collection-item avatar">
        <img ng-src="./images/account-logo-{{account.name.toLowerCase()}}.png" alt="{{account.name}} logo">
        <div ng-show="account.type.toLowerCase() == 'gcash'" class="secondary-content">
            <a class="waves-effect waves-light btn" ng-click="topUp($index)" href="">Top up</a>
        </div>
        <p class="title">
            {{account.balance.toLocaleString()}} {{account.currency.toUpperCase()}}
        </p>
    </li>
</ul>