// body {
//     color: #333;
//     font-size: 18px;
//     line-height: 1.3;
//     font-weight: 300; 
//     font-family: 'Merriweather', serif;
//     font-family: 'Open Sans', sans-serif;
// }

body.full {
    overflow: hidden;
    z-index: 1000;
}


/*------------------------------------------------------------------------------------------
 *
 *    SCREEN
 *
 *----------------------------------------------------------------------------------------*/

.phone {
/*    z-index: -1;*/
    color: #333;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300; 
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: block;
    width: 350px;
    height: 442px;
    margin: 0px auto;
    border: 1px solid #e0e0e0;
//    margin-top: 20px;
}

.phone .screen_wrp {
    position: absolute;
    display: none;
/*    top: 124px;
    bottom: 126px;*/
    top: 80px;
    bottom: 100px;
    left: 41px;
    right: 37px;
    z-index: 1;
}

.phone .screen_wrp.open{
    display: block;
    z-index: 10;
}

.phone .panel {
    display: block;
    position: absolute;
    margin-bottom: 0 !important;
    background: #E8E8E8;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: -80px;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.phone .panel.open {
    opacity: 1;
    transform: scale(1);
}

.phone .panel.open p { text-align: center; font-size: 90%; }

.phone .inp {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 0 20px 0 0;
    margin: 4px 0;
    border: 1px dashed #ccc;
}

.phone .inp > a {
    position: absolute;
    display: block;
    width: 40px;
    display: flex;
    align-items: center;
    top: 0; right: -20px; bottom: 0;
}

.phone .inp > a img {
    width: 100%;
    height: auto;
}

.phone .panel input, .phone .panel textarea {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.phone .preview input, .phone .preview textarea {
    border: 0px none;
    text-align: center;
    background: none transparent;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -2px;
}

.phone .preview textarea {
    resize: none;
    line-height: 0.9;
}

.phone .panel > a.closer, .phone .panel > a.minimize {
    display: block;
    width: 50px; height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.phone .panel > a.minimize {
}

.phone .call_tools { position: absolute; width: 100%; left: 0; bottom: 20px; text-align: center; display: flex; align-items: center; }

.phone .call_tools > a { display: block; float: left; width: 33.333%; padding: 0 20px; text-align: center; }

.phone p.user img { width: 44%; margin-left: 0%; }

.phone .clicky:active { position: relative; top: 2px; }


/*------------------------------------------------------------------------------------------
 *
 *    PHONE FULL
 *
 *----------------------------------------------------------------------------------------*/

.phone.full { 
    margin-top: 0;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 100%; 
}

.phone.full .screen_wrp {
    top: 60px;
    bottom: 80px;
    left: 0px;
    right: 0px;
    border: 0px none;
}

.phone.full .sms-input {
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #e1e1e1;
}

.phone.full .sms-input span img { margin: 20px 15px; }

.phone.full .sms-input span.input input { margin: 18px 0; }

.phone.full .onem_msisdn {
    top: 0; left: 0; right: 0; margin: 0; padding: 0;
    border-bottom: 1px solid #ccc;
    background: #e1e1e1; height: 60px; line-height: 60px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
}

.phone.full .keypad.squared .num { padding: 20% 0; }

.phone.full .preview input { font-size: 80px; padding: 20px; }

.phone.full .dialer .preview .call_no img { width: 30%; margin-top: 0; }


/*------------------------------------------------------------------------------------------
 *
 *    SCREEN KEYPADS
 *
 *----------------------------------------------------------------------------------------*/

.phone .keypad {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
}

.phone .keypad.squared { border: 1px solid #ccc; }

.phone .keypad li { display: block; width: 33.33%; float: left; padding: 4px 20px; }

.phone .keypad.squared li { padding: 0; border: 1px dashed #c4c4c4; border-top: 0px none; border-left: 0px none; }

.phone .keypad.squared li:nth-child(3n+3) { border-right: 0px none; }

.phone .keypad.squared li:last-child { border-bottom: 0px none; }

.phone .keypad.squared li:nth-last-child(2) { border-bottom: 0px none; }

.phone .keypad.squared li:nth-last-child(3) { border-bottom: 0px none; }

.phone .keypad .num {
    display: block;
    width: 100%;
    height: 0;
    text-decoration: none;
    padding: 50% 0;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    border: 2px solid rgba(0,0,0,0.06);
    background: rgba(0,0,0,0.03);
}

.phone .keypad.squared .num {
    border: 0px none;
    border-radius: 0;
    padding: 30% 0;
}

.phone .keypad .num span {
    display: block;
    text-align: center;
}

.phone .keypad .num .no {
    color: #999;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 0%;
    padding: 30% 0;
    margin-top: -40%;
    line-height: 50%;
}

.phone .keypad .num .txt { font-size: 60%; color: #b2b2b2; margin-top: -10%; }

.phone .keypad .more .no { font-size: 16px; padding: 40% 0; color: #b2b2b2; }

.phone .keypad .more .txt { font-size: 60%; color: #b2b2b2; margin-top: -20%; }

.phone .keypad .plus .no { font-size: 26px; padding: 30% 0; color: #b2b2b2; }

.phone .keypad .zero .no { padding: 30% 0; }

.phone .keypad .star .no { font-size: 60px; padding: 40% 0 }

.phone .keypad .aste .no { padding: 30% 0; font-size: 26px; color: #b2b2b2; }

.phone .keypad .num.pressed {
    -webkit-animation: numClick 0.4s;
       -moz-animation: numClick 0.4s;
         -o-animation: numClick 0.4s;
            animation: numClick 0.4s;
}

@-webkit-keyframes numClick {
    0% { background: rgba(0,0,0,0.03); }
    15% { background: rgba(0, 0, 0, 0.09); }
    100% { background: rgba(0,0,0,0.03); }
}
   
@-moz-keyframes numClick {
    0% { background: rgba(0,0,0,0.03); }
    15% { background: rgba(0, 0, 0, 0.09); }
    100% { background: rgba(0,0,0,0.03); }
}
 
@-o-keyframes numClick {
    0% { background: rgba(0,0,0,0.03); }
    15% { background: rgba(0, 0, 0, 0.09); }
    100% { background: rgba(0,0,0,0.03); }
}

@keyframes numClick {
    0% { background: rgba(0,0,0,0.03); }
    15% { background: rgba(0, 0, 0, 0.09); }
    100% { background: rgba(0,0,0,0.03); }
}


/*------------------------------------------------------------------------------------------
 *
 *    BACKGROUND WIREFRAME
 *
 *----------------------------------------------------------------------------------------*/

.phone .wireframe {
    display: block;
}

.phone.full .wireframe { display: none; }

.phone .wireframe img, .phone .wireframe svg {
    width: 100%;
    height: auto;
    display: block;
    float: left;
}

.phone .wireframe .time {
    position: absolute;
    top: 96px;
    left: 0; right: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif; font-weight: 700;
}


/*------------------------------------------------------------------------------------------
 *
 *    SCREEN DIALER
 *
 *----------------------------------------------------------------------------------------*/

.phone .dialer {
    position: absolute;
    display: block;
    z-index: 2;
}

.phone .dialer .nums, .phone .answer .nums {
    width: 90%;
    margin: 0 5%;
    position: absolute;
    bottom: 20px;
}

.phone .answer .nums {
    opacity: 0;
    bottom: 120px;
}

.phone .answer .nums:not(on) li a {
    pointer-events: none;
}

.phone .answer .nums.on {
    opacity: 1;
}

.phone .answer .nums.on li a {
    pointer-events: all;
}

.phone .dialer .preview {
    display: block;
    float: left;
    width: 90%;
    margin: 0 5%;
    height: 40%;
}

.phone .dialer .preview { }
.phone .dialer .call { }
.phone .dialer .call:active {
    position: relative;
    top: 2px;
}

.phone .dialer .preview .call_no img {
    width: 40%;
    height: auto;
    margin-top: -6%;
}

.phone .dialer .preview input {
    direction: rtl;
    text-align: left;
}


/*------------------------------------------------------------------------------------------
 *
 *    SCREEN DIALER
 *
 *----------------------------------------------------------------------------------------*/

.phone .caller {
    position: absolute;
    display: block;
    z-index: 3;
}

.phone .caller .preview {
    width: 90%;
    margin: 0 5%;
}

.phone .caller .preview .inp { border: 0px none; padding: 0; }

.phone .caller .preview input {
    font-size: 26px;
}


/*------------------------------------------------------------------------------------------
 *
 *    SCREEN ANSWER
 *
 *----------------------------------------------------------------------------------------*/

.phone div.answer {
    position: absolute;
    display: block;
    z-index: 4;
}

.phone .answer .title {
    padding: 14px 0px 10px 32px;
    font-size: 16px;
    text-align: left !important;
}

.phone .answer .user.off {
    display: none;
}

.phone .answer .video {
    width: 72%;
    margin-left: 14%;
    height: auto;
    display: block;
    border-radius: 10%;
    overflow: hidden;
}
.phone .answer .video video{
    display:block;
    width:100%;
    height:auto;
}
.phone .answer .video.off {
    display: none;
}

.phone .answer .preview input {
    font-size: 26px;
}


/*------------------------------------------------------------------------------------------
 *
 *    SMS INPUT
 *
 *----------------------------------------------------------------------------------------*/

.phone .sms-input {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    background: #F44336;
    z-index: 2;
}

.phone .sms-input span {
    display: block;
    float: left;
    width: 70px;
}

.phone .sms-input span img {
    display: block;
    float: left;
    width: 40px;
    height: auto;
    margin: 15px;
}

.phone .sms-input span.input {
    width: calc(100% - 85px);
}

.phone .sms-input span.input input {
    margin: 16px 0;
    /*border: 1px solid #ccc;*/
    background-color: white;
    border-bottom: none;
}

.phone .sms-input textarea {
    display: block;
    float: left;
    width: 100%;
    padding: 10px 14px;
    font-size: 18px;
    font-weight: 400;
    resize: none;
    margin:10px 0;
    font-family: 'Roboto', sans-serif;
}

.phone .sms-response {
    position: absolute;
    display: block;
    top: 60px;
    bottom: 80px;
    z-index: 9;
    width: 100%;
}

.phone .sms-response-pos {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    padding:10px;
}

.phone .sms-response-pos .sms-placeholder {
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 4px;
}

.phone .sms-response-pos .sms-mt-container {
    position: relative;
    max-width: 74%;
    height: auto;
    display: inline-block;
    border-radius: 15px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 8px;
    background-color: #eee;
    font-size: 13.5px;
    line-height: 18px;
    word-wrap: break-word;
    vertical-align: top;
}

.phone .sms-response-pos .sms-mt-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
  .phone .sms-response-pos .sms-mt-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
  }

.sms-length span {
    font-size: 9px;
}

.phone .phone-header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #F44336;
}

.phone .sms-response-pos .sms-mo-container {
    position: relative;
    max-width: 74%;
    height: auto;
    display: block;
    border-radius: 20px;
    float: right;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    background:#00bfff;
    color: white;
    font-size: 13.5px;
}

.phone .sms-response-pos .sms-mo-container:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: #00bfff;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .phone .sms-response-pos .sms-mo-container:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }

.phone .sms-response-pos .sms-mt-container .sms-mt {
    height: auto;
    padding: 10px;
}

.phone .sms-response-pos .sms-mo-container .sms-mo {
    height: auto;
    padding: 10px;
}

.sms-mt span {
    padding: 0;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    word-wrap: break-word;
}

.sms-mo span {
    padding: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}


/*------------------------------------------------------------------------------------------
 *
 *    PHONE INFOS
 *
 *----------------------------------------------------------------------------------------*/

.phone .onem_msisdn {
    position: absolute;
    display: block;
    top: 30px;
    left: 42px;
    right: 37px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.phone .call_notif {
    position: absolute;
    display: none;
    top: 90px;
    left: 42px;
    right: 37px;
    text-align: center;
    margin: 0;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    background: #F44336;
    z-index: 14;
    color: #F44336;
    opacity: 0;
}

.phone .call_notif.on {
    display: block;
    background: #85C06E;
    color: #fff;
    opacity: 1;
    z-index: 20;
}

.phone .call_notif a { color: #f0f0f0; }

.phone .call_notif.on a { color: #fff; }

.phone .form-control {
    padding: 3px 12px;
    height: 40px;
}


/*------------------------------------------------------------------------------------------
 *
 *    MISC
 *
 *----------------------------------------------------------------------------------------*/

a.full {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    opacity: 0.6;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease; 
}

a.full:hover { opacity: 1; }

a.full img {
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease; 
}

a.full:hover img {
    transform: rotate(90deg);
}

a.full img.exit { position:relative; z-index:1000; display: none; }

a.full.toggled img.enter { display: none; }

a.full.toggled img.exit { display: block; }

div.logo {
    position: absolute;
    display: block;
    top: -80px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    z-index: 101;
}

div.logo img {
    height: 60px;
    width: auto;
    margin: 0px auto;
}

body.full div.logo {
    float: left;
    width: auto;
    margin: 0;
    top: 0; left: 0; padding: 10px;
}

body.full div.logo img { height: 40px; width: auto; }

@media (max-width: 768px) {
    .phone .sms-response {
        top: 75px;
        bottom: 75px;
    }
    .section { display: block; padding: 0; }
    .phone { position: fixed; width: 100%; height: 100%; top: 0; left: 0; margin-top: 0; }
    .phone .wireframe { display: none; }
    .phone .screen_wrp {
        top: 60px;
        bottom: 80px;
        left: 0px;
        right: 0px;
        border: 0px none;
    }
    .phone .sms-input {
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: #e1e1e1;
    }
    .phone .sms-input span img { margin: 20px 15px; }
    .phone .sms-input span.input input { margin: 18px 0; }
    .phone .onem_msisdn {
        top: 0; left: 0; right: 0; margin: 0; padding: 0; padding-left: 200px;
        border-bottom: 1px solid #ccc;
        background: #e1e1e1; height: 60px; line-height: 60px;
        line-height: 1; text-align: right; vertical-align: middle; padding: 6px 6px 6px 200px;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
           -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
                box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.15);
    }
    .phone .msisdn:after { content: '\00a0'; }
    .phone .keypad.squared .num { padding: 20% 0; }
    .phone .preview input { font-size: 60px; padding: 20px; }
    .phone .dialer .preview .call_no img { width: 30%; margin-top: 0; }
    a.full { display: none; }
    div.logo { top: 0; left: 0; padding: 10px;float: left; width: auto; margin: 0; }
    div.logo img { display: none}
    .phone .answer .nums {
        bottom: 190px;
    }
    .phone p.user img { width: 30%; }
}

@media (max-width: 680px) {
    .phone .keypad.squared .num { padding: 24% 0; }
    .phone .dialer .preview .call_no img { width: 36%; margin-top: 0; }
}

@media (max-width: 320px) {
    .phone .onem_msisdn {
    line-height: 1; text-align: right;
    }
}

@media (min-width: 200px) {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.btn-floating {
    position: fixed;
    bottom:20px;
    right: 20px;
}