

.img-container img {
    width: 100%;
    height: 100%;
}

.img-container .sms-input {
    position: absolute;
    top: 78%;
    left: 11%;
    width: 78%;
}

.img-container .sms-response {
    position: absolute;
    top: 12%;
    min-height: 65%;
    height: 80%;
    left: 11%;
    width: 78%;
}

.img-container .sms-response-pos {
    width: 100%;
    height: 80%;
    display: block;
    overflow: auto;
}

.img-container .sms-response-pos .sms-placeholder {
    width: 100%;
    height: auto;
    display: inline-block;
}

.img-container .sms-response-pos .sms-mt-container {
    position: relative;
    max-width: 75%;
    height: auto;
    display: block;
    border-radius: 20px;
    float: left;
    padding: 10px;
    background-color: #e0e0e0;
}

.img-container .sms-response-pos .sms-mo-container {
    position: relative;
    max-width: 75%;
    height: auto;
    display: block;
    border-radius: 20px;
    float: right;
    padding: 10px;
    background-color: blue;
    color: white;
}

.img-container .sms-response-pos .sms-mt-container .sms-mt {
    height: auto;
    padding: 10px;
}

.img-container .sms-response-pos .sms-mo-container .sms-mo {
    height: auto;
    padding:10px;
}

.sms-mt span {
    padding: 5px;
    white-space: pre-wrap;
}

.sms-mo span {
    padding: 5px;
    white-space: pre-wrap;
}