<div class="container ngdialog-message">
    <h5>Unlink account</h5>
    <p>This will unlink your email account and log you out of ONEm.zone.</p>
    <p>You can still text ONEm from your real mobile phone and you will not lose any data.</p>
    <p>You will be able re-register to ONEm.zone again later.</p>
    <div class="modal-footer ngdialog-buttons">
        <a href="" ng-click="closeThisDialog()" class="modal-close waves-effect waves-red red-text left btn-flat">Cancel</a>
        <a href="" ng-click="confirm()" class="modal-close waves-effect waves-green right btn-flat">Confirm &
            Logout</a>
    </div>
</div>