<!DOCTYPE html>
<html lang="en" data-ng-app="ONEmSimModule">

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ONEm Zone" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ONEm Zone</title>
    <!-- <link rel="icon" href="./images/favicon.ico?v1.1"> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <!-- CSS Files -->
    <!--build:css css/plugins.min.css -->
    <link rel="stylesheet" href="css/materialize-src/sass/materialize.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css" />
    <link rel="stylesheet"
        href="bower_components/ng-intl-tel-input/bower_components/intl-tel-input/build/css/intlTelInput.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <!-- endbuild -->
    <!--build:css css/app.min.css -->
    <link rel="stylesheet" href="css/onemfonts.css" />
    <link rel="stylesheet" href="css/onemsim.css" />
    <link rel="stylesheet" href="css/screens.css" />
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9-->
    <!-- JS Files -->
    <!--build:js js/plugins.min.js -->
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <!-- endbuild -->

</head>

<body ng-controller="navbarController" name="body">
    <div ng-controller="phoneController">

        <div ng-cloak ng-show="displayPhone" class="phone screen">

            <div class="phone-header"></div>

            <div ng-class="screenOpen ? 'open': ''" class="screen_wrp">

                <div ng-class="dialerOpen ? 'open': ''" class="panel dialer">

                    <div class="preview">
                        <!---<p class="title">Who you gonna call?</p>-->
                        <p class="inp">
                            <!-- <input id="typed_no" type="text" value=""> -->
                            <textarea ng-model="dialerTypedNo" id="typed_no" data-autoresize rows="1"
                                maxlength="21"></textarea>
                            <a ng-click="dialerTypedNo=deleteNum(dialerTypedNo)" class="delete" href="#"><img
                                    class="clicky" src="images/icn_delete.svg" /></a>
                        </p>
                        <p class="msg">Type the number you want to call.</p>
                        <p class="call_no"><a ng-click="callButtonClicked()" class="call" href="#"><img
                                    src="images/icn_answer.svg" /></a></p>
                    </div> <!-- /preview -->

                    <ul ng-class="showKeypad ? 'on' : ''" class="keypad dialpad nums squared">
                        <li ng-click="dialButtonClicked(b)" ng-repeat="b in callButtons track by b.value"
                            class="clicky"><a data-val="b.value" ng-class="b.pressed ? 'pressed' : ''"
                                class="{{b.class}}" href="#"><span class="no">{{b.value}}</span><span
                                    class="txt">{{b.label}}</span></a></li>
                        <!----
                        <li class="clicky"><a id="num_1" class="num" data-val="1" href="#"><span class="no">1</span><span class="txt">&#x260D;</span></a></li>
                        <li class="clicky"><a id="num_2" class="num" data-val="2" href="#"><span class="no">2</span><span class="txt">ABC</span></a></li>
                        <li class="clicky"><a id="num_3" class="num" data-val="3" href="#"><span class="no">3</span><span class="txt">DEF</span></a></li>
                        <li class="clicky"><a id="num_4" class="num" data-val="4" href="#"><span class="no">4</span><span class="txt">GHI</span></a></li>
                        <li class="clicky"><a id="num_5" class="num" data-val="5" href="#"><span class="no">5</span><span class="txt">JKL</span></a></li>
                        <li class="clicky"><a id="num_6" class="num" data-val="6" href="#"><span class="no">6</span><span class="txt">MNO</span></a></li>
                        <li class="clicky"><a id="num_7" class="num" data-val="7" href="#"><span class="no">7</span><span class="txt">PQRS</span></a></li>
                        <li class="clicky"><a id="num_8" class="num" data-val="8" href="#"><span class="no">8</span><span class="txt">TUV</span></a></li>
                        <li class="clicky"><a id="num_9" class="num" data-val="9" href="#"><span class="no">9</span><span class="txt">WXYZ</span></a></li>
                        <li class="clicky"><a id="num_+" class="num plus" data-val="+" href="#"><span class="no">&#x2719;</span></a></li>
                        <li class="clicky"><a id="num_0" class="num zero" data-val="0" href="#"><span class="no">0</span></a></li>
                        <!-- <li class="clicky"><a id="num_m" class="num more" href="#"><span class="no">&#x25CF;&#x25CF;&#x25CF;</span><span class="txt">MORE</span></a></li>
                        <li class="clicky"><a id="num_*" class="num aste" data-val="*" href="#"><span class="no">&#x2731;</span></a></li>-->
                    </ul> <!-- /keypad dialpad nums squared-->
                    <a ng-hide="touchCheckboxModel.on" ng-click="closeDialer()" class="closer" href="#"><img
                            src="images/icn_close.svg" /></a>

                </div> <!-- /panel dialer -->

                <div ng-class="callerOpen ? 'open': ''" class="panel caller">
                    <div class="preview">
                        <p class="title">Somebody is calling you!</p>
                        <p class="user"><a class="answer" href=""><img src="images/icn_usr.svg" /></a></p>
                        <p class="inp"><input ng-model="answerTypedNo" id="typed_no" type="text" value="100"
                                disabled="disabled"></p>
                        <!-- <p class="msg">Unknown number</p> -->
                        <p class="msg" id="user_name"></p>
                        <p class="call_tools">
                            <a ng-click="cancelCall()" class="clicky cancel" href=""><img
                                    src="images/icn_reject.svg" /></a>
                            <a ng-click="closePanel()" class="clicky closer" href=""><img src="images/num_x.svg" /></a>
                            <a ng-click="answerCall()" class="clicky answer" href=""><img
                                    src="images/icn_call_ok.svg" /></a>
                        </p>
                    </div> <!-- /preview -->
                    <a class="closer" href="#"><img src="images/icn_close.svg" /></a>
                </div> <!-- /panel caller -->

                <div ng-class="answerOpen ? 'open': ''" class="panel answer">
                    <div class="preview">
                        <p class="title talktime"></p>
                        <p ng-class="userOff ? 'off' : ''" class="user"><img src="images/icn_usr.svg" /></p>
                        <p class="video">
                            <video loop id="myVideo" width="320" height="240" src="" hidden=true>
                                <source type="video/mp4">
                                <source type="video/ogg">
                                <source type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                        </p> <!-- /video -->
                        <p class="inp"><input ng-model="answerTypedNo" id="typed_no" type="text" value="100"
                                disabled="disabled"></p>
                        <!-- <p class="msg">Unknown number</p> -->
                        <p class="call_tools">
                            <a ng-click="showNumpad()" class="clicky numpad" href="#"><img
                                    src="images/icn_numpad.svg" /></a>
                            <a ng-click="cancelCall()" class="clicky cancel" href=""><img
                                    src="images/icn_reject.svg" /></a>
                            <a class="clicky mute" href="#"><img src="images/icn_mute.svg" /></a>
                        </p> <!-- /call_tools -->
                    </div> <!-- /preview -->
                    <!-- <div class="video">
                        <video loop id="myVideo" width="320" height="240" src="" hidden=true>
                            <source type="video/mp4">
                            <source type="video/ogg">
                            <source type="video/webm">
                            Your browser does not support the video tag.
                        </video>
                    </div> -->
                    <!-- /video -->
                    <ul ng-class="showKeypad ? 'on' : ''" class="keypad dialpad nums squared">
                        <li ng-click="dialButtonClicked(b)" ng-repeat="b in callButtons track by b.value"
                            class="clicky"><a data-val="b.value" ng-class="b.pressed ? 'pressed' : ''"
                                class="{{b.class}}" href="#"><span class="no">{{b.value}}</span><span
                                    class="txt">{{b.label}}</span></a></li>
                    </ul> <!-- /keypad dialpad nums squared-->
                    <a ng-click="minimizeClicked() " class="minimize" href="#"><img src="images/icn_mini.svg" /></a>
                </div> <!-- /panel answer -->

            </div> <!-- /screen_wrp -->
            <div ui-view></div>
        </div> <!-- /phone -->
        <a ng-click="displayPhone=!displayPhone" class="btn-floating btn-large waves-effect waves-light red"><i
                class="material-icons">add</i></a>


        <audio loop id="myAudio" src="" hidden=true>
            <source type="audio/wav" />
        </audio>

        <video loop id="myVideo" width="320" height="240" src="" hidden=true>
            <source type="video/mp4">
            <source type="video/ogg">
            <source type="video/webm">
            Your browser does not support the video tag.
        </video>

</body>
<!--build:js js/app.min.js -->
<script src="js/vendor/socket.io.js"></script>
<script src="bower_components/jssip/dist/jssip.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-ui-router/release/stateEvents.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
<script src="bower_components/angular-media-queries/match-media.js"></script>
<script src="bower_components/ng-intl-tel-input/bower_components/intl-tel-input/build/js/utils.js"></script>
<script
    src="bower_components/ng-intl-tel-input/bower_components/intl-tel-input/build/js/intlTelInput-jquery.js"></script>
<script src="bower_components/angular-socket-io/socket.js"></script>
<script src="bower_components/path/path.min.js"></script>
<script src="bower_components/angular-auto-focus/angular-auto-focus.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/satellizer/dist/satellizer.js"></script>
<script src="bower_components/ng-intl-tel-input/dist/ng-intl-tel-input.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/hammerjs/hammer.js"></script>
<script src="bower_components/angular-hammer/angular-hammer.js"></script>
<script src="bower_components/ng-dialog/js/ngDialog.js"></script>

<script src="js/onemsim.js"></script>
<script src="js/constants/services.js"></script>
<script src="js/services/user.js"></script>
<script src="js/services/socket.js"></script>
<script src="js/services/phone.js"></script>
<script src="js/services/dataModel.js"></script>
<script src="js/services/smsHandler.js"></script>
<script src="js/services/cache.js"></script>
<script src="js/services/mttext.js"></script>
<script src="js/services/services.js"></script>
<script src="js/services/request.js"></script>
<script src="js/services/servicesData.js"></script>
<script src="js/services/wallet.js"></script>
<script src="js/controllers/nav.js"></script>
<script src="js/controllers/main.js"></script>
<script src="js/controllers/login.js"></script>
<script src="js/controllers/captureMsisdn.js"></script>
<script src="js/controllers/captureToken.js"></script>
<script src="js/controllers/logout.js"></script>
<script src="js/controllers/logoutDelete.js"></script>
<script src="js/controllers/service.js"></script>
<script src="js/controllers/settings.js"></script>
<script src="js/controllers/wallet.js"></script>
<script src="js/controllers/console.js"></script>
<script src="js/controllers/order.js"></script>
<script src="js/controllers/phone.js"></script>
<script src="js/controllers/inbox.js"></script>
<script src="js/controllers/modalTopUp.js"></script>
<script src="js/directives/closeKeyboard.js"></script>
<script src="js/directives/myClock.js"></script>
<script src="js/directives/scrollBottom.js"></script>
<script src="js/directives/focusMe.js"></script>
<script src="js/directives/enter.js"></script>
<script src="js/directives/pagination.js"></script>
<script src="js/directives/inputHistory.js"></script>
<script src="js/directives/ngmobileclick.js"></script>
<script src="js/vendor/materialize.js"></script>
<script src="js/materializeInit.js"></script>
<!-- endbuild -->

</html>