<div class="container">
  <div style="padding-top:50px" class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <img src="/images/onem_zone_logo_thumb.png" class="responsive-img center-block" />
          <h5 class="center-align">Register Mobile<span class="pull-right"></h5>
          <div class="row">
            <div class="col s8 offset-s2">
              <div class="progress">
                <div class="determinate blue" style="width: 100%"></div>
              </div>
            </div>
          </div>
          <br>
          <p class="center-align">An SMS was sent to the number you provided. Please confirm below:</p>
          <br>
          <div class="row">
            <a href="#" ng-click="resendCode()">
              <p class="center-align">Resend code</p>
            </a>
          </div>
          <form name="tokenForm">
            <div class="row">
              <div class="col s6 offset-s3">
                <div class="input-field col s11" ng-class="{'has-error': tokenForm.token.$invalid && tokenForm.token.$touched, 'has-success': tokenForm.token.$valid}">
                  <input required type="tel" id="token" name="token" autocomplete="off" ng-model="token">
                  <label for="token">Token:</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-action">
          <a style="margin-right:0" ui-sref="logout"><button class="btn red">Logout</button></a>
          <button ng-click="submit()" class="btn right" ng-disabled="tokenForm.$invalid">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>