<div style="padding-top:50px" class="row">
    <div class="col s12">
        <h5 class="left-align">Inbox {{inboxCounts.unread > 0 ? '(' + inboxCounts.unread + ')' : ''}}</h5>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div ng-show="messages.length == 0">
            <h6>You have a clean inbox. Any messages you might have missed will appear here.</h6>
        </div>
        <div ng-show="messages.length > 0" class="row">
            <ul>
                <ul class="collapsible">
                    <li ng-repeat="m in messages track by $index">
                        <div ng-click="readMessage(m, $index)" class="collapsible-header">
                            <div class="row">
                                <div class="col s8">
                                    <i ng-show="m.state == 'unread'" style="font-size: 1rem; line-height: 1.5"
                                        class="material-icons icon-blue">
                                        fiber_manual_record
                                    </i>
                                    {{m.content.lines[0]}}
                                </div>
                                <div class="col s3">
                                    <span class="hide-on-small-only"
                                        class="right">{{m.timestamp | amCalendar:referenceTime:formats}}</span>
                                </div>
                                <div class="col s1">
                                    <span ng-click="deleteMessage(m, $index)" class="right">
                                        <i class="material-icons">delete</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <p ng-repeat="l in m.content.lines | limitTo: (1 - m.content.lines.length)">{{l}}</p>
                            <div class="ng-cloak">
                                <div ng-show="m.content.isMsg()">
                                    <form ng-submit="moSubmitFromInbox($index)" name="inputFormInbox">
                                        <div class="row input-field">
                                            <div class="col s12 m10 l10">
                                                <input close-keyboard auto-focus autocomplete="off" ng-model="$parent.moTextInbox" required type="text">
                                            </div>
                                            <div class="hide-on-small-only col m2 l2">
                                                <button ng-disabled="inputFormInbox.$invalid" 
                                                    class="btn waves-effect waves-light" name="submit">Submit
                                                </button>
                                                <input type="submit" style="visibility:hidden;position:absolute"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="right-align">
                                    <a ng-click="deleteMessage(m, $index)" class="waves-effect waves-light btn red">
                                        <i class="material-icons right">delete</i>Delete</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>