<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<!-- This template is responsible for rendering a menu element. It uses
     the above list template to render each menu column -->
<script type="text/ng-template" id="defaultMenu.html">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="defaultMenu" class="col-sm-3 control-label">Default menuRef:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control input-sm background-{{item.type}}" id="defaultHeader" ng-model="models.defaultMenu">
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="defaultHeader.html">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="defaultHeader" class="col-sm-3 control-label">Default header:</label>
            <div class="col-sm-8">
                <textarea rows="3" type="text" class="form-control input-sm background-{{item.type}}" id="defaultHeader" ng-model="models.defaultHeader"></textarea>
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="menuRef.html">
    <form class="form-horizontal">
        <div class="form-group">
            <dnd-nodrag>
                <label for="menuRef" class="col-sm-2 control-label">menuRef:</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <select ng-model="item.menuOpt" class="form-control">
                            <option value="Default">Default</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </div>
                    <div ng-if="item.menuOpt == 'Custom'">
                        <input style="width:100%" type="text" class="form-control input-sm background-{{item.type}}" id="menuRef" ng-model="item.menuRef">
                    </div>
                    <div ng-if="item.menuOpt == 'Default'">
                        <input style="width:100%" disabled type="text" class="form-control input-sm background-{{item.type}}" id="menuRef" ng-model="item.menuRef">
                    </div>
                </div>
            </dnd-nodrag>
        </div>
    </form>
</script>
<script type="text/ng-template" id="header.html">
    <form class="form-horizontal">
        <div class="form-group">
            <dnd-nodrag>
                <label for="header" class="col-sm-2 control-label">header:</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <select ng-model="item.headerOpt" ng-change="setHeader(item, item.headerOpt)" class="form-control">
                            <option value="Default">Default</option>
                            <option value="Off">Off</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </div>
                    <div ng-if="item.headerOpt == 'Custom'">
                        <textarea rows="3" style="width:100%" type="text" class="form-control input-sm background-{{item.type}}" id="header" ng-model="item.header"></textarea>
                    </div>
                    <div ng-if="item.headerOpt == 'Default'">
                        <textarea rows="3" style="width:100%" disabled type="text" class="form-control input-sm background-{{item.type}}" id="header" ng-model="item.header"></textarea>
                    </div>
                </div>
            </dnd-nodrag>
        </div>
    </form>
</script>
<script type="text/ng-template" id="footer.html">
    <form class="form-horizontal">
        <div class="form-group">
            <dnd-nodrag>
                <label for="footer" class="col-sm-2 control-label">footer:</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-btn">
                        <select ng-model="item.footerOpt" ng-change="setFooter(item, item.footerOpt)" class="form-control">
                            <option value="Default">Default</option>
                            <option value="Off">Off</option>
                            <option value="Custom">Custom</option>
                        </select>
                    </div>
                    <div ng-if="item.footerOpt == 'Custom'">
                        <input style="width:100%" type="text" class="form-control input-sm background-{{item.type}}" id="footer" ng-model="item.footer">
                    </div>
                    <div ng-if="item.footerOpt == 'Default'">
                        <input style="width:100%" disabled type="text" class="form-control input-sm background-{{item.type}}" id="footer" ng-model="item.footer">
                    </div>
                </div>
            </dnd-nodrag>
        </div>
    </form>
</script>
<script type="text/ng-template " id="panel-header.html ">
    <span class="dnd-handle panel-handle glyphicon glyphicon-menu-hamburger"></span>
    <h4 class="panel-title ">{{item.type}}</h4>
    <button ng-click="models.content.splice(key,1) " type="button " class="btn btn-sm btn-default pull-right ">
        <span class="glyphicon glyphicon-trash "></span>
    </button>
</script>
<script type="text/ng-template " id="text.html ">
    <form class="form-horizontal ">
        <div class="form-group ">
            <label for="text " class="col-sm-2 control-label ">Text:</label>
            <div class="col-sm-10 ">
                <input type="text " class="form-control input-sm background-{{item.type}} " id="text " ng-model="item.content.description ">
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template " id="messageText.html ">
    <form class="form-horizontal ">
        <div class="form-group ">
            <label for="message " class="col-sm-2 control-label ">Text:</label>
            <div class="col-sm-10 ">
                <textarea rows=4 type="text " class="form-control input-sm background-{{item.type}} " id="message " ng-model="item.description "></textarea>
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template " id="menu.html ">
    <div class="panel panel-info background-{{item.type}} ">
        <div class="panel-heading clearfix ">
            <div ng-include=" 'panel-header.html' "></div>
        </div>
        <div ng-class="{ showMe: !models.content[$index].collapsed } " class="collapsable panel-body background-{{item.type}} ">
            <div ng-include=" 'header.html' "></div>
            <div ng-include=" 'menuRef.html' "></div>
            <ul dnd-list="item.content " dnd-allowed-types="[item.type] ">
                <li class="background-{{item.type}} " ng-repeat="(menKey, menuItem) in item.content " dnd-type="item.type " dnd-draggable="menuItem " dnd-effect-allowed="move " dnd-moved="item.content.splice(menKey,1) " ng-include=" 'menuItem.html' "></li>
                <div class="clearfix "></div>
            </ul>
            <button type="button " ng-click="addItem(item.content, item.type) " class="btn btn-block btn-primary ">Add Option</button>
            <div ng-include=" 'footer.html' "></div>
        </div>
    </div>
    </div>
</script>
<!-- This template is responsible for rendering a menu element. It uses
     the above list template to render each menu column -->
<script type="text/ng-template " id="wizard.html ">
    <div class="panel panel-info background-{{item.type}} ">
        <div class="panel-heading ">
            <div ng-include=" 'panel-header.html' "></div>
        </div>
        <div ng-class="{ showMe: !models.content[$index].collapsed } " class="collapsable panel-body background-{{item.type}} ">
            <div ng-include=" 'header.html' "></div>
            <div ng-include=" 'menuRef.html' "></div>
            <ul dnd-list="item.content " dnd-allowed-types="[item.type] ">
                <li class="background-{{item.type}} " ng-repeat="(wizKey, wizardItem) in item.content " dnd-type="item.type " dnd-draggable="wizardItem " dnd-effect-allowed="move " dnd-moved="item.content.splice(wizKey,1) " ng-include=" 'wizardItem.html' "></li>
                <div class="clearfix "></div>
            </ul>
            <button type="button " ng-click="addItem(item.content, item.type) " class="btn btn-block btn-primary ">Add Option</button>
            <div ng-include=" 'footer.html' "></div>
        </div>
    </div>
</script>
<!-- Template for a normal input item -->
<script type="text/ng-template " id="input.html ">
    <div class="panel ">
        <div class="panel-heading ">
            <div ng-include=" 'panel-header.html' "></div>
        </div>
        <div ng-class="{ showMe: !models.content[$index].collapsed } " class="collapsable panel-body ">
            <div ng-include=" 'header.html' "></div>
            <div ng-include=" 'menuRef.html' "></div>
            <div ng-include=" 'text.html' "></div>
            <div ng-include=" 'footer.html' "></div>
        </div>
    </div>
</script>
<!-- Template for a normal menu item -->
<script type="text/ng-template " id="menuItem.html ">
    <dnd-nodrag>
        <div dnd-handle class="handle ">:::</div>
        <div class="menuItem ">
            <input type="text " ng-model="menuItem.description " class="background-{{item.type}} form-control input-sm ">
        </div>
        <button ng-if="item.content.length> 1" ng-click="item.content.splice(menKey,1)" type="button" class="btn btn-sm btn-default pull-right">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </dnd-nodrag>
</script>
<!-- Template for a normal wizard item -->
<script type="text/ng-template" id="wizardItem.html">
    <dnd-nodrag>
        <div dnd-handle class="handle">:::</div>
        <div class="menuItem">
            <input type="text" ng-model="wizardItem.description" class="background-{{item.type}} form-control input-sm">
        </div>
        <button ng-if="item.content.length > 1" ng-click="item.content.splice(wizKey,1)" type="button" class="btn btn-sm btn-default pull-right">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </dnd-nodrag>
</script>
<!-- Template for message item -->
<script type="text/ng-template" id="message.html">
    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            <div ng-include="'panel-header.html'"></div>
        </div>
        <div ng-class="{ showMe: !models.content[$index].collapsed  }" class="collapsable panel-body">
            <div ng-include="'header.html'"></div>
            <div ng-include="'messageText.html'"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
<!-- Template for end item -->
<script type="text/ng-template" id="end.html">
    <div class="panel panel-info">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">{{item.type}}</h4>
        </div>
        <div ng-class="{ showMe: !models.content[$index].collapsed  }" class="collapsable panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="ref" class="col-sm-2 control-label">Ref:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm background-{{item.type}}" id="ref" ng-model="item.ref">
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
<!-- Main area with dropzones and source code -->
<div class="typesDemo">
    <div class="row">
        <div class="col-md-4 visible-lg visible-md onem-logo">
            <a href="http://www.onem.com">
                <img ng-src="{{'/images/onem-logo.svg'}}" alt="" />
                <p>Service Builder</p>
            </a>
        </div>
        <div class="onem-border col-md-6 col-md-offset-1">
            <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
            <span ng-repeat="item in models.templates" dnd-type="'item'" dnd-draggable="item" dnd-effect-allowed="copy" dnd-copied="item.id = item.id + 1">
            <!-- <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button> -->
                <button type="button" class="btn btn-primary btn-lg">{{item.type}}</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="typesDemo row">
                <!-- The dropzone also uses the list template -->
                <h3>Service: Post </h3>
                <div ng-include="'defaultHeader.html'"></div>
                <div ng-include="'defaultMenu.html'"></div>
                <button ng-click="collapseToggle()" type="button" class="btn btn-default">
                    <div ng-if="!closedAll"><span class="glyphicon glyphicon-minus"></span></div>
                    <div ng-if="closedAll"><span class="glyphicon glyphicon-plus"></span></div>
                </button>
                <ul dnd-list="models.content" dnd-allowed-types="['item']">
                    <div ng-repeat="(key,item) in models.content">
                        <div class="collapse-container">
                            <button ng-click="models.content[key].collapsed = !models.content[key].collapsed" type="button" class="btn btn-default">
                                <span ng-if="models.content[key].collapsed" class="glyphicon glyphicon-plus"></span>
                                <span ng-if="!models.content[key].collapsed" class="glyphicon glyphicon-minus"></span>
                            </button>
                            <div class="collapse-item">
                                <li dnd-disable-if="isDisabled(item, key)" dnd-draggable="item" dnd-effect-allowed="move" dnd-type="'item'" dnd-moved="models.content.splice(key,1)" ng-include="item.type + '.html'">
                                </li>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="col-md-5 col-md-offset-1">
            <div class="row">
                <div view-source="nested"></div>
                <h3>JSON</h3>
                <pre>{"content": {{modelAsJson}}}   </pre>
            </div>
        </div>
    </div>
</div>