<!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
<!-- This template is responsible for rendering a menu element. It uses
     the above list template to render each menu column -->
<script type="text/ng-template" id="header.html">
    <h4 class="panel-title pull-left">{{item.type}}</h4>
    <div class="col-sm-9 col-sm-offset-3 input-group">
        <input type="text" class="form-control input-sm background-{{item.type}}" id="header" ng-model="item.header">
</script>
<script type="text/ng-template" id="menuRef.html">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="menuRef" class="col-sm-3 control-label">menuRef:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control input-sm background-{{item.type}}" id="menuRef" ng-model="item.menuRef">
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="text.html">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control input-sm background-{{item.type}}" id="text" ng-model="item.content.description">
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="messageText.html">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Text:</label>
            <div class="col-sm-10">
                <textarea rows=4 type="text" class="form-control input-sm background-{{item.type}}" id="message" ng-model="item.description"></textarea>
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="menu.html">
    <div class="panel panel-info background-{{item.type}}">
        <div class="panel-heading clearfix">
            <div ng-include="'header.html'"></div>
        </div>
        <div class="panel-body background-{{item.type}}">
            <ul dnd-list="item.content">
                <li class="background-{{item.type}}" ng-repeat="(menKey, menuItem) in item.content" dnd-draggable="menuItem" dnd-effect-allowed="move" dnd-moved="item.content.splice(menKey,1)" ng-include="'menuItem.html'"></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    </div>
</script>
<!-- This template is responsible for rendering a menu element. It uses
     the above list template to render each menu column -->
<script type="text/ng-template" id="wizard.html">
    <div class="panel panel-info background-{{item.type}}">
        <div class="panel-heading clearfix">
            <div ng-include="'header.html'"></div>
        </div>
        <div class="panel-body background-{{item.type}}">
            <ul dnd-list="item.content">
                <li class="background-{{item.type}}" ng-repeat="(wizKey, wizardItem) in item.content" dnd-draggable="wizardItem" dnd-effect-allowed="move" dnd-moved="item.content.splice(wizKey,1)" ng-include="'wizardItem.html'"></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    </div>
</script>
<!-- Template for a normal input item -->
<script type="text/ng-template" id="input.html">
    <div class="panel">
        <div class="panel-heading clearfix>" <div ng-include="'header.html'"></div>
    </div>
    <div class="panel-body">
        <div ng-include="'menuRef.html'"></div>
        <div ng-include="'text.html'"></div>
    </div>
    </div>
    <div class="clearfix"></div>
</script>
<!-- Template for a normal menu item -->
<script type="text/ng-template" id="menuItem.html">
    <dnd-nodrag>
        <div dnd-handle class="handle">:::</div>
        <div class="name">
            <input type="text" ng-model="menuItem.description" class="background-{{item.type}} form-control input-sm">
        </div>
    </dnd-nodrag>
</script>
<!-- Template for a normal wizard item -->
<script type="text/ng-template" id="wizardItem.html">
    <dnd-nodrag>
        <div dnd-handle class="handle">:::</div>
        <div class="name">
            <input type="text" ng-model="wizardItem.description" class="background-{{item.type}} form-control input-sm">
        </div>
    </dnd-nodrag>
</script>
<!-- Template for message item -->
<script type="text/ng-template" id="message.html">
    <div class="panel panel-info">
        <div class="panel-heading clearfix>" <div ng-include="'header.html'"></div>
    </div>
    <div class="panel-body">
        <div ng-include="'messageText.html'"></div>
    </div>
    <div class="clearfix"></div>
    </div>
</script>
<!-- Template for end item -->
<script type="text/ng-template" id="end.html">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">{{item.type}}</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="ref" class="col-sm-2 control-label">Ref:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control input-sm background-{{item.type}}" id="ref" ng-model="item.ref">
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</script>
<!-- Main area with dropzones and source code -->
<div class="col-md-4">
    <div class="typesDemo row">
        <!-- The dropzone also uses the list template -->
        <h3>Service: Post </h3>
        <!-- The dropzone also uses the list template -->
        <ul dnd-list="models.content">
            <div ng-repeat="(key,item) in models.content">
                <li dnd-draggable="item" dnd-effect-allowed="move" dnd-moved="models.content.splice(key,1)" dnd-selected="models.selected = item" ng-class="{selected: models.selected === item}" ng-include="item.type + '.html'">
                </li>
            </div>
        </ul>
    </div>
</div>
<!-- Sidebar -->
<div class="col-md-3 text-center center-block">
    <div class="toolbox box box-grey box-padding">
        <h3>New Elements</h3>
        <!-- The toolbox only allows to copy objects, not move it. After a new
                 element was created, dnd-copied is invoked and we generate the next id -->
        <div ng-repeat="item in models.templates" dnd-draggable="item" dnd-effect-allowed="copy" dnd-copied="item.id = item.id + 1">
            <!-- <button type="button" class="btn btn-default btn-lg" disabled="disabled">{{item.type}}</button> -->
            <button type="button" class="btn btn-default btn-lg">{{item.type}}</button>
        </div>
    </div>
    <div class="trashcan box box-grey box-padding">
        <!-- If you use [] as referenced list, the dropped elements will be lost -->
        <div dnd-list="[]">
            <div><span class="glyphicon glyphicon-trash"></span></div>
        </div>
    </div>
    <div class="toolbox box box-grey box-padding">
        Selected: {{models.selected}}
    </div>
</div>
<div class="col-md-5">
    <div class="row">
        <div view-source="nested"></div>
        <h3>JSON Output</h3>
        <pre>{"content": {{modelAsJson}}}   </pre>
    </div>
</div>