<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="center-block img-container">
            <img ng-src="{{'/images/iPhone6.png'}}" alt="" />
            <div class="sms-response">
                <div class="sms-response-pos">
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last</span>
                    </div>
                    <div class="sms-mt">
                        <span>{{welcome}} last</span>
                    </div>
                    <div class="sms-mo">
                        <span>response last lots of text goes here to make this a very long message blah blah</span>
                    </div>
                </div>
            </div>
            <div class="sms-input">
                <label for="sms"></label>
                <input type="text" placeho lder="iMessage" class="form-control" id="sms">
            </div>
        </div>
    </div>
</div>