<div class="row">
    <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
        <div class="visible-lg visible-md onem-logo">
            <a href="http://www.onem.com">
                <img ng-src="{{'/images/onem-logo.svg'}}" alt="" />
                <p>Simulator</p>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-lg-offset-2 col-md-offset-2">
        <div class="onem-controls-container">
            <div class="onem-controls checkbox">
                <label>
                    <input type="checkbox" ng-model="smsLength" ng-init="smsLength=true"> SMS Length
                </label>
            </div>
            <div class="onem-controls checkbox">
                <label>
                    <input type="checkbox" ng-model="ctrlPanel" ng-init="ctrlPanel=true"> Panel
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row onem-border">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 col-sm-6 col-xs-8">
            <div class="img-container">
                <div class="img-responsive">
                    <img ng-src="{{'/images/iPhone.png'}}" alt="" />
                </div>
                <div class="sms-response">
                    <div scroll-bottom="results" class="sms-response-pos">
                        <div ng-repeat="obj in results track by $index">
                            <div ng-if="obj.type == 'mt'" class="sms-mt">
                                <div class="sms-placeholder">
                                    <div class="sms-mt-container">
                                        <span>{{obj.value}}</span>
                                    </div>
                                    <div ng-if="smsLength" class="sms-length">
                                        <span>{{obj.value.length}}</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="obj.type == 'mo'" class="sms-mo">
                                <div class="sms-placeholder">
                                    <div class="sms-mo-container">
                                        <span>{{obj.value}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sms-input">
                    <form ng-submit="smsInput()">
                        <label for="sms"></label>
                        <input ng-model="smsText" type="text" placeholder="iMessage" class="form-control" id="sms">
                    </form>
                </div>
            </div>
        </div>
        <div ng-controller="tabController">
            <div ng-if="ctrlPanel">
                <div class="col-lg-6 col-md-6 visible-lg visible-md">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs track by $index" ng-class="{active: tab.isActive}" ng-click="selectTab(tab)"><a data-toggle="tab" ng-href="{{tab.refId}}">{{tab.name}}</a></li>
                    </ul>
                    <div class="tab-content ">
                        <div id="file-manager-tab" class="tab-pane" ng-class="{active: tabs[0].isActive}">
                            <div class="filemanager-container">
                                <angular-filemanager></angular-filemanager>
                            </div>
                        </div>
                        <div id="log-tab" class="tab-pane" ng-class="{active: tabs[1].isActive}">
                            <div class="panel panel-default">
                                <div class="panel-heading">Server Log
                                    <button class="btn btn-sm btn-default pull-right" ng-click="resetlogs()" type="button" aria-expanded="true">Clear
                                    </button>
                                </div>
                                <div scroll-bottom="logs" class="tab-log-container">
                                    <table class="table">
                                        <tr ng-repeat="log in logs track by $index">
                                            <td class="tab-log-text">{{log}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="develop-tab" class="tab-pane" ng-class="{active: tabs[2].isActive}">
                            <div class="panel panel-default">
                                <div class="panel-heading">Developer Comments
                                    <button class="btn btn-sm btn-default pull-right" ng-click="resetComments()" type="button" aria-expanded="true">Clear
                                    </button>
                                </div>
                                <!-- Table -->
                                <div scroll-bottom="comments" class="tab-log-container">
                                    <table class="table">
                                        <tr ng-repeat="comment in comments track by $index">
                                            <td class="comment-text">{{comment}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="help-tab" class="tab-pane" ng-class="{active: tabs[3].isActive}">
                            <div class="panel panel-default">
                                <div class="panel-heading">Help
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-5 tab-help-container">
                                        <div class="tab-help-navigator">
                                            <!-- <div ng-include="'/views/partials/help-sections-template.html'"></div> -->
                                            <ak-panel-group-menu for="help-content"></ak-panel-group-menu>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 tab-help-container">
                                        <div ng-include="'/views/partials/help.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>