<div class="onem-border row">
    <div class="col=lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="visible-lg visible-md panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Developer Comments</div>
            <!-- Table -->
            <div class="comments-container">
                <table class="table">
                    <tr ng-repeat="comment in comments track by $index">
                        <td>{{comment}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8">
        <div class="img-container">
            <div class="img-responsive">
                <img ng-src="{{'/images/iPhone6.png'}}" alt="" />
            </div>
            <div class="sms-response">
                <div scroll-bottom="results" class="sms-response-pos">
                    <div ng-repeat="obj in results">
                        <div ng-if="obj.type == 'mt'" class="sms-mt">
                            <div class="sms-placeholder">
                                <div class="sms-mt-container">
                                    <span>{{obj.value}}</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="obj.type == 'mo'" class="sms-mo">
                            <div class="sms-placeholder">
                                <div class="sms-mo-container">
                                    <span>{{obj.value}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sms-input">
                <form ng-submit="smsInput()">
                    <label for="sms"></label>
                    <input ng-model="smsText" type="text" placeholder="iMessage" class="form-control" id="sms">
                </form>
            </div>
        </div>
    </div>
    <div class="filemanager-container col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="visible-lg visible-md">
            <angular-filemanager></angular-filemanager>
        </div>
    </div>
</div>