<div class="container">
  <div style="padding-top:100px" class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-centered">
      <div class="center-form panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Register Mobile - Step 2</h3>
        </div>
        <div class="panel-body">
          <p style="text-align: left">An SMS was sent to the number you provided.  Please confirm below:</p>
          <a href="#" ng-click="resendCode()">Resend code</a>
          <form class="form-horizontal" ng-submit="submit()" name="tokenForm">
            <div class="form-group" ng-class="{'has-error': tokenForm.token.$invalid && tokenForm.token.$touched, 'has-success': tokenForm.token.$valid}">
              <label class="control-label col-sm-2" for="token">Token:</label>
              <div class="col-sm-10">
                <input type="tel" class="form-control" id="token" name="token" ng-model="token">
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary" ng-disabled="tokenForm.$invalid" class="btn btn-block btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>