<div class="ng-cloak" style="padding-top:20px" ng-show="ready">
    <div class="row col-centered">
         
        <div class="col s12 m12 l8 offset-l2">
            <nav style="z-index:995" class="navbar-fixed" ng-cloak ng-show="result.breadcrumbs.length > 0">
                <div class="nav-wrapper white">
                    <div class="col s12 truncate black-text">
                        <a style="cursor:pointer" ng-show="result.breadcrumbs[0]"
                            ng-click="buttonSelected('#' + cache.activeService().getName())"
                            class="breadcrumb">{{result.breadcrumbs[0]}}</a>
                        <a ng-show="result.breadcrumbs[1]" class="breadcrumb">{{result.breadcrumbs[1]}}</a>
                        <span style="float:right" class="teal-text onem-icon onem-icon-{{cache.activeService().getIcon()}}"></span>
                    </div>
                </div>
            </nav>
            <div ng-include="'partials/templates/wallet.html'"></div>
            <div ng-include="'partials/templates/card-desktop.html'"></div>
            <div>
                <div ng-include="'partials/templates/pagination.html'"></div>
            </div>
        </div>
    </div>
</div>