

        <div class="sms-response">
            <div scroll-bottom="results" class="sms-response-pos">
                <div ng-repeat="obj in results track by $index">
                    <div ng-if="obj.type == 'mt'" class="sms-mt">
                        <div class="sms-placeholder">
                            <div class="sms-mt-container" ng-bind-html="obj.value | linky:'_blank' | nl2br">
                                <span>{{obj.value}}</span>
                            </div> <!-- /sms-mt-container -->
                            <div ng-if="smsLength" class="sms-length">
                                <span>{{obj.value.length}}</span>
                            </div> <!-- /sms-length -->
                        </div> <!-- /sms-placeholder -->
                    </div> <!-- /sms-mt -->
                    <div ng-if="obj.type == 'mo'" class="sms-mo">
                        <div class="sms-placeholder">
                            <div class="sms-mo-container">
                                <span>{{obj.value}}</span>
                            </div> <!-- /sms-mo-container -->
                        </div> <!-- /sms-placeholder -->
                    </div> <!-- /sms-mo -->
                </div> <!-- /obj in results track by $index -->
            </div> <!-- /sms-response-pos -->
        </div> <!-- /sms-response -->

        <div ng-controller="consoleController" class="sms-input">
            <form ng-submit="smsInput()">
                <!-- <label for="sms"></label> -->
                <span class="dial"><a ng-click="openDialer()" class="open_dialer" href=""><img
                            src="images/icn_dialer.svg"></a></span>
                <span class="input">
                    <input close-keyboard input-history history="history" ng-model="smsText" type="text"
                        placeholder="Message" class="form-control" id="sms" autocomplete="off" auto-focus>
                    <!---<textarea ng-model="smsText" placeholder="Message" class="form-control" id="sms" rows="1" msd-elastic="\n" ng-enter="smsInput()" auto-focus></textarea>-->
                </span> <!-- /input -->
                <!-- <span class="send"><a class="send_msg" href="#"><img src="images/icn_send.svg"></a></span> -->
            </form> <!-- /smsInput() -->
        </div> <!-- /sms-input -->

        <p ng-class="callNotif ? 'on' : ''" class="call_notif"><a href="#" ng-click="callNotifClicked()"
                class="resume">Click here to resume the call</a></p>

    </div> <!-- /screen -->

