<div style="padding-left:10px;padding-right:10px" class="container row">
    <div class="col s12 m12 l12 center-align" style="padding-top:50px">
        <div class="row">
            <h5>Gcash Payment Successful</h5>
        </div>
<!---        <div class="col s12">
            <div style="padding-top:30px" class="row">
                <div class="col s8 offset-s4 left-align">
                    <a class="waves-effect waves-light btn" ui-sref="main">OK</a>
                </div>
            </div>
        </div>> -->
    </div>
</div>
