<div style="width:50%;padding-top:20px">
    <div class="row col-centered">
        <div class="col s6 m6 offset-s3 offset-m3">
            <div class="card grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{result.header}}</span>
                    <div class="row valign-wrapper">
                        <ul ng-if="result.options.length > 0" class="collection" style="width:100%">
                            <a ng-repeat="option in result.options track by $index" class="collection-item" ng-href="#"
                                ng-if="option.option" ng-click="optionSelected(option)">
                                {{option.desc}}</a>
                        </ul>
                        <div ng-if="result.options.length == 0">
                            {{option}}
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <p>{{result.footer}}</p>
                    <a ng-repeat="button in result.buttons track by $index"
                        ng-click="optionSelected(button)">{{button}}</a>
                </div>
            </div>
        </div>
    </div>
</div>