<div style="padding-top:20px">
    <div class="row col-centered">
        <div class="col s12 m12 l6 offset-l3">
            <nav ng-cloak ng-show="result.breadcrumbs.length > 0">
                <div class="nav-wrapper white">
                    <div class="col s12">
                        <a ng-show="result.breadcrumbs[0]" ui-sref="service({service: activeService.name})"
                            class="breadcrumb black-text">{{result.breadcrumbs[0]}}</a>
                        <a ng-show="result.breadcrumbs[1]" class="breadcrumb black-text">{{result.breadcrumbs[1]}}</a>
                    </div>
                </div>
            </nav>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{result.header || '#' + activeService.name.toUpperCase()}}<span
                            style="float:right"><i
                                class="teal-text small material-icons">{{activeService.icon}}</i></span></span>
                    <div class="row valign-wrapper">
                        <div class="col s12">
                            <div ng-if="result.type == 'menu'" class="collection grey lighten-5" style="width:100%">
                                <a ng-if="option.option" ng-click="optionSelected(option)"
                                    ng-repeat="option in result.options track by $index" class="collection-item"
                                    style="padding-right:5px">{{option.desc}}<span style="float:right"><i
                                            class="material-icons">chevron_right</i></span>
                                </a>
                            </div>
                            <div ng-cloak ng-show="result.type !== 'menu'">
                                <div ng-repeat="option in result.options track by $index">{{option}}</div>
                                <form ng-submit="moSubmit()" name="inputForm">
                                    <div class="input-field">
                                        <div class="col s8">
                                            <input auto-focus autocomplete="off" ng-model="moText" placeholder="Message"
                                                required id="moText" type="text">
                                            <span class="helper-text">{{result.footer}}</span>
                                        </div>
                                        <div class="col s4">
                                            <button ng-disabled="inputForm.$invalid"
                                                class="right btn waves-effect waves-light" name="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action right-align">
                    <a ng-repeat="button in result.buttons track by $index"
                        ng-click="buttonSelected(button)">{{button}}</a>
                </div>
            </div>
            <ul ng-if="result.numPages > 0" style="padding-top:20px" class="center-align pagination">
                <li ng-click="buttonSelected('go ' + (result.currentPage - 1))"
                    ng-class="result.currentPage == 1 ? 'disabled' : 'waves-effect'"><a><i
                            class="material-icons">chevron_left</i></a></li>
                <li ng-click="buttonSelected('go ' + page)"
                    ng-class="result.currentPage == page ? 'active' : 'waves-effect'" ng-repeat="page in result.pages">
                    <a>{{page}}</a></li>
                <li ng-click="buttonSelected('go ' + (result.currentPage + 1))"
                    ng-class="result.currentPage == result.numPages ? 'disabled' : 'waves-effect'"><a><i
                            class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>


    </div>
</div>